// --------------------------------------------------------------
// Bootstrap variable overrides
// --------------------------------------------------------------

$white:    #fff !default;
$gray-100: #f8f9fa !default;
$gray-200: #e9ecef !default;
$gray-300: #dee2e6 !default;
$gray-400: #ced4da !default;
$gray-500: #adb5bd !default;
$gray-600: #6c757d !default;
$gray-700: #495057 !default;
$gray-800: #343a40 !default;
$gray-900: #212529 !default;
$black:    #000 !default;

$blue:    #007bff !default;
$indigo:  #6610f2 !default;
$purple:  #6f42c1 !default;
$pink:    #e83e8c !default;
$red:     #dc3545 !default;
$orange:  #fd7e14 !default;
$yellow:  #ffc107 !default;
$green:   #28a745 !default;
$teal:    #20c997 !default;
$cyan:    #17a2b8 !default;

$gray-base:              $black !default;
$gray-darker:            $gray-900; // lighten($gray-base, 13.5%) !default; // #222
$gray-dark:              $gray-700; // lighten($gray-base, 20%) !default;   // #333
$gray:                   $gray-500; // lighten($gray-base, 33.5%) !default; // #555
$gray-light:             $gray-500; // lighten($gray-base, 46.7%) !default; // #777
$gray-lighter:           $gray-200; // lighten($gray-base, 93.5%) !default; // #eee

// Global 

$brand-primary:         #267df4;
$brand-primary-dark:    darken($brand-primary, 6%) !default;
$brand-secondary:       $gray-600 !default;
$brand-secondary-dark:    darken($brand-secondary, 6%) !default;
$brand-success:         #28A745 !default; // #00AE69 #5C8600 #5cb85c
$brand-success-dark:    darken($brand-success, 3%) !default;
$brand-info:            #0D99FF !default; // #4688DE
$brand-info-dark:       darken($brand-info, 5%) !default;
$brand-warning:         #FFC107 !default; // #f0ad4e !default;
$brand-warning-dark:    darken($brand-warning, 5%) !default;
$brand-danger:          #DC3545 !default; // #d9534f #
$brand-danger-dark:     darken($brand-danger, 4%) !default;

$brand-link-color: $brand-primary !default; 

// $border-radius-base: 3px;
// $border-color-light: #DCDCDC;

$inverse-base-color:  #222 !default;

// Breackpoints 

$breakpoints: (
  xlarge:   '(max-width: 1680px)',
  large:    '(max-width: 1200px)',
  medium:   '(max-width: 992px)',
  small:    '(max-width: 768px)',
  xsmall:   '(max-width: 480px)'
);

// --------------------------------------------------------------
// Bootstrap variables are found in bootstrap/_variables.scss
// --------------------------------------------------------------

//== Typography 
//
//##

$font-family-sans-serif:   system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
// $font-family-sans-serif: 'Poppins', sans-serif;
// Bootstrap 4 vars 

$font-weight-light:         200 !default;
$font-weight-normal:        300 !default;
$font-weight-bold:          600 !default;

$headings-line-height:      1.1 !default;

$display1-size:               6rem !default;
$display2-size:               5.5rem !default;
$display3-size:               4.5rem !default;
$display4-size:               3.5rem !default;

$display1-weight:             300 !default;
$display2-weight:             300 !default;
$display3-weight:             300 !default;
$display4-weight:             300 !default;
$display-line-height:         $headings-line-height !default;

//==
//
//##

$component-active-bg:         $brand-primary;
$input-btn-focus-width:       3px;
$input-btn-focus-color:       rgba($component-active-bg, .25) !default;
$input-btn-focus-box-shadow:  0 0 0 $input-btn-focus-width $input-btn-focus-color !default;

//== Buttons
//
//## For each of Bootstrap's buttons, define text, background and border color.

$btn-default-color:              #555;
$btn-default-bg:                 #FFF;
$btn-default-border:             darken($btn-default-bg, 6%);

$btn-secondary-color:              #fff !default;
$btn-secondary-bg:                 $brand-secondary !default;
$btn-secondary-border:             darken($btn-secondary-bg, 5%) !default;

$btn-transition:              color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out !default;

//== Forms
//
//##

$input-border-focus:              $input-btn-focus-color; // #80bdff;

//== Navbar
//
//##

// Transparent navbar
// Reset transparent navbar basics
$navbar-clear-color:                      rgba(255, 255, 255, 0.85) !default;
$navbar-clear-bg:                         transparent !default;
$navbar-clear-border:                     darken($navbar-clear-bg, 10%) !default;

// Inverted navbar links
$navbar-clear-link-color:                 rgba(255, 255, 255, 0.85) !default;
$navbar-clear-link-hover-color:           #fff !default;
$navbar-clear-link-hover-bg:              transparent !default;
$navbar-clear-link-active-color:          $navbar-clear-link-hover-color !default;
$navbar-clear-link-active-bg:             transparent !default;
$navbar-clear-link-disabled-color:        #444 !default;
$navbar-clear-link-disabled-bg:           transparent !default;

// Inverted navbar brand label
$navbar-clear-brand-color:                $navbar-clear-link-color !default;
$navbar-clear-brand-hover-color:          #fff !default;
$navbar-clear-brand-hover-bg:             transparent !default;

// Inverted navbar toggle
$navbar-clear-toggle-hover-bg:            #333 !default;
$navbar-clear-toggle-icon-bar-bg:         #fff !default;
$navbar-clear-toggle-border-color:        #333 !default;

// --------------------------------------------------------------
// Non Bootstrap variables  
// --------------------------------------------------------------

$mobile-overlay-close-btn: rgba(255, 255, 255, 0.97);
$mobile-overlay-close-btn-size: 25px;

$table-hover-bg-color: #F2F7FA;

// --------------------------------------------------------------
// Bootstrap 4 variables 
// --------------------------------------------------------------

// Port the Bootstrap 4 features into Bootstrap 3 

// Options
//
// Quickly modify global styling by enabling or disabling optional features.

$enable-grid-classes:                         true !default;

// Grid breakpoints
//
// Define the minimum dimensions at which your layout will change,
// adapting to different screen sizes, for use in media queries.

$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  xxl: 1400px
) !default;

// @include _assert-ascending($grid-breakpoints, "$grid-breakpoints");
// @include _assert-starts-at-zero($grid-breakpoints, "$grid-breakpoints");


// Grid containers
//
// Define the maximum width of `.container` for different screen sizes.

$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 1140px,
  xxl: 1320px
) !default; 

// @include _assert-ascending($container-max-widths, "$container-max-widths");


// Utilities

$displays: none, inline, inline-block, block, table, table-row, table-cell, flex, inline-flex !default;
$overflows: auto, hidden !default;
$positions: static, relative, absolute, fixed, sticky !default;
$user-selects: all, auto, none !default;