<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-default" id="buttons">
            <div class="panel-heading">Buttons
            </div>
            <div class="panel-body">
                <p>
                    <button type="button" class="btn btn-lg btn-default">Default</button>
                    <button type="button" class="btn btn-lg btn-primary">Primary</button>
                    <button type="button" class="btn btn-lg btn-secondary">Secondary</button>
                    <button type="button" class="btn btn-lg btn-success">Success</button>
                    <button type="button" class="btn btn-lg btn-info">Info</button>
                    <button type="button" class="btn btn-lg btn-warning">Warning</button>
                    <button type="button" class="btn btn-lg btn-danger">Danger</button>
                    <button type="button" class="btn btn-lg btn-link">Link</button>
                </p>
                <p>
                    <button type="button" class="btn btn-default">Default</button>
                    <button type="button" class="btn btn-primary">Primary</button>
                    <button type="button" class="btn btn-secondary">Secondary</button>
                    <button type="button" class="btn btn-success">Success</button>
                    <button type="button" class="btn btn-info">Info</button>
                    <button type="button" class="btn btn-warning">Warning</button>
                    <button type="button" class="btn btn-danger">Danger</button>
                    <button type="button" class="btn btn-link">Link</button>
                </p>
                <p>
                    <button type="button" class="btn btn-default btn-loading">Default</button>
                    <button type="button" class="btn btn-primary btn-loading">Primary</button>
                    <button type="button" class="btn btn-secondary btn-loading">Secondary</button>
                    <button type="button" class="btn btn-success btn-loading">Success</button>
                    <button type="button" class="btn btn-info btn-loading">Info</button>
                    <button type="button" class="btn btn-warning btn-loading">Warning</button>
                    <button type="button" class="btn btn-danger btn-loading">Danger</button>
                </p>
                <p>
                    <button type="button" class="btn btn-outline-default ">Default</button>
                    <button type="button" class="btn btn-outline-primary ">Primary</button>
                    <button type="button" class="btn btn-outline-secondary">Secondary</button>
                    <button type="button" class="btn btn-outline-success ">Success</button>
                    <button type="button" class="btn btn-outline-info ">Info</button>
                    <button type="button" class="btn btn-outline-warning ">Warning</button>
                    <button type="button" class="btn btn-outline-danger ">Danger</button>
                </p>
                <p>
                    <button type="button" class="btn btn-sm btn-default">Default</button>
                    <button type="button" class="btn btn-sm btn-primary">Primary</button>
                    <button type="button" class="btn btn-sm btn-secondary">Secondary</button>
                    <button type="button" class="btn btn-sm btn-success">Success</button>
                    <button type="button" class="btn btn-sm btn-info">Info</button>
                    <button type="button" class="btn btn-sm btn-warning">Warning</button>
                    <button type="button" class="btn btn-sm btn-danger">Danger</button>
                    <button type="button" class="btn btn-sm btn-link">Link</button>
                </p>
                <p>
                    <button type="button" class="btn btn-xs btn-default">Default</button>
                    <button type="button" class="btn btn-xs btn-primary">Primary</button>
                    <button type="button" class="btn btn-xs btn-secondary">Secondary</button>
                    <button type="button" class="btn btn-xs btn-success">Success</button>
                    <button type="button" class="btn btn-xs btn-info">Info</button>
                    <button type="button" class="btn btn-xs btn-warning">Warning</button>
                    <button type="button" class="btn btn-xs btn-danger">Danger</button>
                    <button type="button" class="btn btn-xs btn-link">Link</button>
                </p>
                <p>
                    <button type="button" class="btn btn-default"><span
                            class="glyphicon glyphicon-star"></span> Glyphicons!</button>
                    <button type="button" class="btn btn-primary"><span
                            class="glyphicon glyphicon-edit"></span></button>
                    <button type="button" class="btn btn-success"><span
                            class="glyphicon glyphicon-plus"></span></button>
                    <button type="button" class="btn btn-info"><span
                            class="glyphicon glyphicon-info-sign"></span></button>
                    <button type="button" class="btn btn-warning"><span
                            class="glyphicon glyphicon-flash"></span></button>
                    <button type="button" class="btn btn-danger"><span
                            class="glyphicon glyphicon-ban-circle"></span></button>
                    <button type="button" class="btn btn-link"><span
                            class="glyphicon glyphicon-arrow-right"></span></button>
                </p>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-6">
        <div class="panel panel-default" id="button-group">
            <div class="panel-heading">Button Group</div>
            <div class="panel-body">
                <div class="btn-group">
                    <button type="button" class="btn btn-secondary">Left</button>
                    <button type="button" class="btn btn-secondary">Middle</button>
                    <button type="button" class="btn btn-secondary">Right</button>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-default" id="pagination">
            <div class="panel-heading">Pagination</div>
            <div class="panel-body">

                <!-- #### Pagination #### -->
                <div class="componant-section" id="pagination">
                    <div class="row">
                        <div class="col-md-6">
                            <h3 class="demo-componant-title">Default</h3>

                            <ul class="pagination ct-blue" style="margin-right: 10px; width:100%;">
                                <li><a href="#">&laquo;</a></li>
                                <li class="active"><a href="#">1</a></li>
                                <li><a href="#">2</a></li>
                                <li><a href="#">3</a></li>
                                <li><a href="#">4</a></li>
                                <li><a href="#">&raquo;</a></li>
                            </ul>

                            <ul class="pagination pagination-lg" style="width:100%;">
                                <li><a href="#">&laquo;</a></li>
                                <li><a href="#">1</a></li>
                                <li><a href="#">2</a></li>
                                <li><a href="#">3</a></li>
                                <li><a href="#">4</a></li>
                                <li><a href="#">&raquo;</a></li>
                            </ul>

                            <ul class="pagination" style="width:100%;">
                                <li><a href="#fakeLink">&larr;</a></li>
                                <li><a href="#fakeLink">1</a></li>
                                <li class="active"><a href="#fakeLink">2</a></li>
                                <li><a href="#fakeLink">3</a></li>
                                <li><a href="#fakeLink">4</a></li>
                                <li><a href="#fakeLink">5</a></li>
                                <li><a href="#fakeLink">&rarr;</a></li>
                            </ul>

                            <h3 class="demo-componant-title">Default Pager</h3>
                            <div class="row">
                                <div class="col-md-6">
                                    <ul class="pager">
                                        <li><a href="#fakeLink">Previous</a></li>
                                        <li><a href="#fakeLink">Next</a></li>
                                    </ul>
                                </div>

                                <div class="col-md-6">
                                    <ul class="pager">
                                        <li class="disabled"><a href="#fakeLink">Disabled</a></li>
                                        <li class="active"><a href="#fakeLink">Hover</a></li>
                                    </ul>
                                </div>
                            </div>

                            <h3 class="demo-componant-title">Aligned Pager</h3>
                            <ul class="pager">
                                <li class="previous disabled"><a href="#fakeLink">&larr; Older</a>
                                </li>
                                <li class="next"><a href="#fakeLink">Newer &rarr;</a></li>
                            </ul>
                        </div>

                        <div class="col-md-6 col-sm-8">
                            <h3 class="demo-componant-title">Sizing</h3>

                            <ul class="pagination pagination-sm" style="width:100%;">
                                <li><a href="#fakeLink">&larr;</a></li>
                                <li><a href="#fakeLink">1</a></li>
                                <li class="active"><a href="#fakeLink">2</a></li>
                                <li><a href="#fakeLink">3</a></li>
                                <li><a href="#fakeLink">4</a></li>
                                <li><a href="#fakeLink">5</a></li>
                                <li><a href="#fakeLink">&rarr;</a></li>
                            </ul>

                            <ul class="pagination" style="width:100%;">
                                <li><a href="#fakeLink">&larr;</a></li>
                                <li><a href="#fakeLink">1</a></li>
                                <li class="active"><a href="#fakeLink">2</a></li>
                                <li><a href="#fakeLink">3</a></li>
                                <li><a href="#fakeLink">4</a></li>
                                <li><a href="#fakeLink">5</a></li>
                                <li><a href="#fakeLink">&rarr;</a></li>
                            </ul>

                            <ul class="pagination pagination-lg" style="width:100%;">
                                <li><a href="#fakeLink">&larr;</a></li>
                                <li><a href="#fakeLink">1</a></li>
                                <li class="active"><a href="#fakeLink">2</a></li>
                                <li><a href="#fakeLink">3</a></li>
                                <li><a href="#fakeLink">4</a></li>
                                <li><a href="#fakeLink">5</a></li>
                                <li><a href="#fakeLink">&rarr;</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div><!-- end Pagination -->

${require('./_forms.html')}

<div class="row">
    <div class="col-lg-4">
        <div class="panel panel-default" id="dropdowns">
            <div class="panel-heading">Dropdowns
            </div>
            <div class="panel-body clearfix">
                <div class="dropdown">
                    <!-- Link or button to toggle dropdown -->
                    <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu"
                        style="display: block; position: static;">
                        <li class="dropdown-header">Dropdown header</li>
                        <li class="disabled">
                            <a tabindex="-1" href="#">Disabled</a>
                        </li>
                        <li>
                            <a tabindex="-1" href="#">Another action</a>
                        </li>
                        <li>
                            <a tabindex="-1" href="#">Something else here</a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a tabindex="-1" href="#">Separated link</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-8">
        <div class="panel panel-default" id="input-groups">
            <div class="panel-heading">Input Groups
            </div>
            <div class="panel-body">
                <div class="input-group">
                    <span class="input-group-btn"> <button class="btn btn-default"
                            type="button">Go!</button> </span><input type="text"
                        class="form-control" placeholder="Username">
                </div><br>
                <div class="input-group">
                    <input type="text" class="form-control input-large">
                    <span class="input-group-addon input-large">.00</span>
                </div><br>
                <div class="input-group">
                    <span class="input-group-addon">$</span><input type="text" class="form-control">
                    <span class="input-group-addon">.00</span>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-lg-6">
        <div class="panel panel-default" id="navs">
            <div class="panel-heading">Navs
            </div>
            <div class="panel-body clearfix">
                <ul class="nav nav-tabs">
                    <li class="active">
                        <a href="#">Home</a>
                    </li>
                    <li>
                        <a href="#">About</a>
                    </li>
                </ul>
                <p></p>
                <p></p>
                <ul class="nav nav-pills">
                    <li class="active">
                        <a href="#">Home</a>
                    </li>
                    <li>
                        <a href="#">About</a>
                    </li>
                </ul>
                <p></p>
                <p></p>
                <ul class="nav nav-stacked nav-pills">
                    <li class="active">
                        <a href="#">Home</a>
                    </li>
                    <li>
                        <a href="#">About</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="col-lg-6" id="navbar">
        <div class="panel panel-default">
            <div class="panel-heading">Navbar
            </div>
            <div class="panel-body">
                <p></p>
                <div class="navbar">
                    <div class="navbar-header">
                        <a href="#" class="navbar-brand">Your Company</a>
                    </div>
                    <div class="navbar-collapse">
                        <ul class="nav navbar-nav navbar-right">
                            <li class="active">
                                <a href="#">Home</a>
                            </li>
                            <li>
                                <a href="#">About</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="navbar navbar-inverse">
                    <div class="navbar-header">
                        <a href="#" class="navbar-brand">Your Company</a>
                    </div>
                    <div class="navbar-collapse">
                        <ul class="nav navbar-nav navbar-right">
                            <li class="active">
                                <a href="#">Home</a>
                            </li>
                            <li>
                                <a href="#">About</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="navbar">
                    <div class="collapse navbar-collapse">
                        <a class="btn btn-primary navbar-btn">Navbar Button</a>
                        <p class="navbar-text navbar-right">Navbar Text</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-default" id="pagination">
            <div class="panel-heading">Navs</div>
            <div class="panel-body">

                <!-- #### Nav #### -->
                <div class="componant-section" id="navs">
                    <div class="row">
                        <div class="col-md-6">
                            <h3 class="demo-componant-title">Tabs</h3>
                            <ul class="nav nav-tabs">
                                <li class="active"><a href="#fakeLink">Home</a></li>
                                <li class="hidden-xs"><a href="#fakeLink">Profile</a></li>
                                <li><a href="#fakeLink">Hover</a></li>
                                <li class="dropdown">
                                    <a class="dropdown-toggle" data-toggle="dropdown"
                                        href="#fakeLink">
                                        Dropdown <span class="fa-chevron-down fa"></span>
                                    </a>
                                    <ul class="dropdown-menu" role="menu">
                                        <li><a href="#fakeLink">Dropdown item one</a></li>
                                        <li class="active"><a href="#fakeLink">Second item</a></li>
                                        <li><a href="#fakeLink">Some third thing here</a></li>
                                    </ul>
                                </li>
                            </ul>
                            <br><br>
                            <ul class="nav nav-tabs nav-stroke">
                                <li class="active"><a href="#fakeLink">Home</a></li>
                                <li class="hidden-xs"><a href="#fakeLink">Profile</a></li>
                                <li><a href="#fakeLink">Hover</a></li>
                                <li class="dropdown">
                                    <a class="dropdown-toggle" data-toggle="dropdown"
                                        href="#fakeLink">
                                        Dropdown <span class="fa-chevron-down fa"></span>
                                    </a>
                                    <ul class="dropdown-menu" role="menu">
                                        <li><a href="#fakeLink">Dropdown item one</a></li>
                                        <li class="active"><a href="#fakeLink">Second item</a></li>
                                        <li><a href="#fakeLink">Some third thing here</a></li>
                                    </ul>
                                </li>
                            </ul>
                            <br>
                            <h3 class="demo-componant-title">Justified Tabs</h3>
                            <ul class="nav nav-tabs nav-justified">
                                <li class="active"><a href="#fakeLink">Home</a></li>
                                <li><a href="#fakeLink">Profile</a></li>
                                <li><a href="#fakeLink">Hover</a></li>
                                <li class="dropdown">
                                    <a class="dropdown-toggle" data-toggle="dropdown"
                                        href="#fakeLink">
                                        Dropdown <span class="fa-chevron-down fa"></span>
                                    </a>
                                    <ul class="dropdown-menu" role="menu">
                                        <li><a href="#fakeLink">Dropdown item one</a></li>
                                        <li class="active"><a href="#fakeLink">Second item</a></li>
                                        <li><a href="#fakeLink">Some third thing here</a></li>
                                    </ul>
                                </li>
                            </ul>
                            <br><br>
                            <ul class="nav nav-tabs nav-justified nav-stroke">
                                <li><a href="#fakeLink">Home</a></li>
                                <li class="active"><a href="#fakeLink">Profile</a></li>
                                <li><a href="#fakeLink">Hover</a></li>
                                <li class="dropdown">
                                    <a class="dropdown-toggle" data-toggle="dropdown"
                                        href="#fakeLink">
                                        Dropdown <span class="fa-chevron-down fa"></span>
                                    </a>
                                    <ul class="dropdown-menu" role="menu">
                                        <li><a href="#fakeLink">Dropdown item one</a></li>
                                        <li class="active"><a href="#fakeLink">Second item</a></li>
                                        <li><a href="#fakeLink">Some third thing here</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                        <div class="col-md-6">
                            <h3 class="demo-componant-title">Pills</h3>

                            <ul class="nav nav-pills">
                                <li class="active"><a href="#fakeLink">Home</a></li>
                                <li class="hidden-xs"><a href="#fakeLink">Profile</a></li>
                                <li><a href="#fakeLink">Hover</a></li>
                                <li class="dropdown">
                                    <a class="dropdown-toggle" data-toggle="dropdown"
                                        href="#fakeLink">
                                        Dropdown <span class="fa-chevron-down fa"></span>
                                    </a>
                                    <ul class="dropdown-menu" role="menu">
                                        <li><a href="#fakeLink">Dropdown item one</a></li>
                                        <li class="active"><a href="#fakeLink">Second item</a></li>
                                        <li><a href="#fakeLink">Some third thing here</a></li>
                                    </ul>
                                </li>
                                <li class="hidden-xs disabled"><a href="#fakeLink">Disabled</a></li>
                            </ul>
                            <br>
                            <h3 class="demo-componant-title">Vertical Pills</h3>
                            <ul class="nav nav-pills nav-stacked col-md-4">
                                <li class="active"><a href="#fakeLink">Home</a></li>
                                <li><a href="#fakeLink">Profile</a></li>
                                <li><a href="#fakeLink">Hover</a></li>
                            </ul>

                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-lg-6">
        <div class="panel panel-default" id="pagination">
            <div class="panel-heading">Breadcrumbs & Badges</div>
            <div class="panel-body">

                <ol class="breadcrumb breadcrumbs-minimal">
                    <li><a href="#fakeLink">Home</a></li>
                    <li class="hidden-xs"><a href="#fakeLink">Electronics Hover</a></li>
                    <li><a href="#fakeLink">Cameras</a></li>
                    <li class="active">Digital Cameras</li>
                </ol>
                <br>

                <a href="#fakeLink">Settings <span class="badge">3</span></a>
                <br><br>
                <ul class="nav nav-pills">
                    <li class="active"><a href="#fakeLink">Home <span class="badge">32</span></a>
                    </li>
                    <li><a href="#fakeLink">Profile</a></li>
                    <li><a href="#fakeLink">Settings <span class="badge">3</span></a></li>
                </ul>
                <br>
                <ul class="nav nav-pills nav-stacked col-md-5">
                    <li class="active">
                        <a href="#fakeLink">
                            <span class="badge pull-right">32</span>Home
                        </a>
                    </li>
                    <li><a href="#fakeLink">Profile</a></li>
                    <li>
                        <a href="#fakeLink">
                            <span class="badge pull-right">3</span>
                            Messages
                        </a>
                    </li>
                </ul>

            </div>
        </div>
    </div>

    <div class="col-lg-6">
        <div class="panel panel-default" id="pagination">
            <div class="panel-heading">Labels</div>
            <div class="panel-body">
                <h3 class="demo-componant-title">Default</h3>
                <div class="demo-labels">
                    <h1>Example heading <span class="label label-default">New</span></h1>
                    <h2>Example heading <span class="label label-default">New</span></h2>
                    <h3>Example heading <span class="label label-default">New</span></h3>
                    <h4>Example heading <span class="label label-default">New</span></h4>
                    <h5>Example heading <span class="label label-default">New</span></h5>
                    <h6>Example heading <span class="label label-default">New</span></h6>
                </div>
                <br>
                <h3 class="demo-componant-title">Variations</h3>
                <div class="demo-labels">
                    <span class="label label-default">Default</span>
                    <span class="label label-primary">Primary</span>
                    <span class="label label-success">Success</span>
                    <span class="label label-info">Info</span>
                    <span class="label label-warning">Warning</span>
                    <span class="label label-danger">Danger</span>
                </div>
            </div>
        </div>
    </div>
</div><!-- end pagination -->

<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-default" id="alerts">
            <div class="panel-heading">Alerts
            </div>
            <div class="panel-body">
                <div>
                    <div class="alert alert-danger">
                        <button type="button" class="close" data-dismiss="alert">&times;</button>
                        <strong>Oh snap!</strong> <a href="#" class="alert-link">Change a few things
                            up</a>
                        and try submitting again.
                    </div>
                    <div class="alert alert-success">
                        <button type="button" class="close" data-dismiss="alert">&times;</button>
                        <strong>Well done!</strong> You successfully read <a href="#"
                            class="alert-link">this important alert message</a>.
                    </div>
                    <div class="alert alert-warning">
                        <button type="button" class="close" data-dismiss="alert">&times;</button>
                        <strong>Heads up!</strong> This <a href="#" class="alert-link">alert needs
                            your
                            attention</a>, but it's not super important.
                    </div>
                    <div class="alert alert-info">
                        <button type="button" class="close" data-dismiss="alert">&times;</button>
                        <strong>Heads up!</strong> This <a href="#" class="alert-link">alert needs
                            your
                            attention</a>, but it's not super important.
                    </div>
                    <div class="alert">
                        <button type="button" class="close" data-dismiss="alert">&times;</button>
                        <h4>Warning!</h4>
                        <p>This is a block style alert.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-lg-6">
        <div class="panel panel-default" id="progress">
            <div class="panel-heading">Progress Bars
            </div>
            <div class="panel-body">
                <div class="progress">
                    <div class="progress-bar" role="progressbar" aria-valuenow="60"
                        aria-valuemin="0" aria-valuemax="100" style="width: 60%;"><span
                            class="sr-only">60% Complete</span>
                    </div>
                </div>
                <div class="progress">
                    <div class="progress-bar progress-bar-success" role="progressbar"
                        aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: 40%">
                        <span class="sr-only">40%
                            Complete (success)</span></div>
                </div>
                <div class="progress">
                    <div class="progress-bar progress-bar-info" role="progressbar"
                        aria-valuenow="20" aria-valuemin="0" aria-valuemax="100" style="width: 20%">
                        <span class="sr-only">20%
                            Complete</span></div>
                </div>
                <div class="progress">
                    <div class="progress-bar progress-bar-warning" role="progressbar"
                        aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%">
                        <span class="sr-only">60%
                            Complete (warning)</span></div>
                </div>
                <div class="progress">
                    <div class="progress-bar progress-bar-danger" role="progressbar"
                        aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width: 80%">
                        <span class="sr-only">80%
                            Complete (danger)</span></div>
                </div>
                <div class="progress">
                    <div class="progress-bar progress-bar-success" style="width: 35%"><span
                            class="sr-only">35% Complete (success)</span></div>
                    <div class="progress-bar progress-bar-warning" style="width: 20%"><span
                            class="sr-only">20% Complete (warning)</span></div>
                    <div class="progress-bar progress-bar-danger" style="width: 10%"><span
                            class='sr-only'>10% Complete (danger)</span></div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-6">
        <div class="panel panel-default" id="media-object">
            <div class="panel-heading">Media Object
            </div>
            <div class="panel-body">
                <p></p>
                <div class="media">
                    <a class="pull-left" href="#"> <img class="media-object"
                            src="https://placehold.it/64x64"></a>
                    <div class="media-body">
                        <h4 class="media-heading">Media heading</h4>
                        <p>This is the content for your media.</p>
                        <div class="media">
                            <a class="pull-left" href="#"> <img class="media-object"
                                    src="https://placehold.it/64x64"></a>
                            <div class="media-body">
                                <h4 class="media-heading">Media heading</h4>
                                <p>This is the content for your media.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="panel panel-default" id="list-groups">
    <div class="panel-heading">List Groups</div>
    <div class="panel-body">
        <div class="row">
            <div class="col-lg-4">
                <ul class="list-group">
                    <li class="list-group-item">Cras justo odio</li>
                    <li class="list-group-item">Dapibus ac facilisis in</li>
                    <li class="list-group-item">Morbi leo risus</li>
                    <li class="list-group-item">Porta ac consectetur ac</li>
                    <li class="list-group-item">Vestibulum at eros</li>
                </ul>
            </div>
            <div class="col-lg-4">
                <div class="list-group">
                    <a href="#" class="list-group-item active"> Cras justo odio </a><a href="#"
                        class="list-group-item">Dapibus ac facilisis in </a><a href="#"
                        class="list-group-item">Morbi leo risus </a><a href="#"
                        class="list-group-item">Porta ac
                        consectetur ac </a><a href="#" class="list-group-item">Vestibulum at eros </a>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="list-group">
                    <a href="#" class="list-group-item active">
                        <h4 class="list-group-item-heading">List group item heading</h4>
                        <p class="list-group-item-text">Donec id elit non mi porta gravida at eget metus.
                            Maecenas
                            sed diam eget risus varius blandit.</p>
                    </a><a href="#" class="list-group-item">
                        <h4 class="list-group-item-heading">List group item heading</h4>
                        <p class="list-group-item-text">Donec id elit non mi porta gravida at eget metus.
                            Maecenas
                            sed diam eget risus varius blandit.</p>
                    </a><a href="#" class="list-group-item">
                        <h4 class="list-group-item-heading">List group item heading</h4>
                </div>
                <p class="list-group-item-text">Donec id elit non mi porta gravida at eget metus. Maecenas
                    sed diam eget risus varius blandit.</p>
                </a>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-lg-3">
        <div class="panel panel-primary" id="panels">
            <div class="panel-heading">This is a header
            </div>
            <p class="panel-body">This is a panel</p>
            <div class="panel-footer">This is a footer
            </div>
        </div>
    </div>
    <div class="col-lg-3">
        <div class="panel panel-success">
            <div class="panel-heading">This is a header
            </div>
            <div class="panel-body">This is a panel</div>
            <div class="panel-footer">This is a footer
            </div>
        </div>
    </div>
    <div class="col-lg-3">
        <div class="panel panel-danger">
            <div class="panel-heading">This is a header
            </div>
            <div class="panel-body">This is a panel</div>
            <div class="panel-footer">This is a footer
            </div>
        </div>
    </div>
    <div class="col-lg-3">
        <div class="panel panel-warning">
            <div class="panel-heading">This is a header
            </div>
            <div class="panel-body">This is a panel</div>
            <div class="panel-footer">This is a footer
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-lg-3">
        <div class="panel panel-info">
            <div class="panel-heading">This is a header
            </div>
            <p class="panel-body">This is a panel</p>
            <div class="panel-footer">This is a footer
            </div>
        </div>
    </div>
    <div class="col-lg-3">
        <div class="panel panel-default">
            <div class="panel-heading">This is a header
            </div>
            <div class="panel-body">This is a panel</div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">First Item</li>
                <li class="list-group-item">Second Item</li>
                <li class="list-group-item">Third Item</li>
            </ul>
            <div class="panel-footer">This is a footer
            </div>
        </div>
    </div>
    <div class="col-lg-3">
        <div class="well" id="wells">Default Well
        </div>
        <div class="well well-small">Small Well
        </div>
    </div>
    <div class="col-lg-3">
        <div class="well well-large">Large Padding Well
        </div>
    </div>
</div>

<!-- cards -->
<div class="row">
    <div class="col-md-3">
        <div class="card">
            <img class="card-img-top" src="https://placehold.it/320x180" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">Some quick example text to build on the card title and make up
                    the bulk
                    of the card's content.</p>
                <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
        </div>
    </div>
</div>