<li><a href="#buttons">Buttons</a></li>
<li><a href="#pagination">Pagination</a></li>
<li><a href="#forms">Forms</a></li>
<li><a href="#dropdowns">Dropdowns</a></li>
<li><a href="#input-groups">Input Groups</a></li>
<li><a href="#navs">Navs</a></li>
<li><a href="#navbar">Navbar</a></li>
<li><a href="#labels">Labels</a></li>
<li><a href="#alerts">Alerts</a></li>
<li><a href="#progress">Progress</a></li>
<li><a href="#media-object">Media Object</a></li>
<li><a href="#list-groups">List Groups</a></li>
<li><a href="#panels">Panels</a></li>
<li><a href="#wells">Wells</a></li>